@media (max-width:750px) {
    .duvida .pergunta{
        display: none;
    }

    .duvida-mobile {
        display: block;
    }
    section {
        margin-bottom: 60px;
    }
    .so-mobile {
        display: block;
    }
    .hero {
        width: 100%;
        height: 255px;
        background: none;
        position: relative;
    }

    .hero img.so-mobile  {
        width: 100%;
    }

    .hero .logo {
        width: 90%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10%;
        left: 1%;
        flex-wrap: wrap;
    }

    .hero .logo a.texto-diferente {
        font-size:2rem;
        text-align: center;
    }

    .hero .logo a span.letra-grande {
        font-size: 2.2rem;
    }

    .hero h1 {
        font-size: 1.2rem;
        text-align: center;
        position: absolute;
        bottom: -150px;
        left: 1%;
    }

    .hero a.btn {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .sobre .cards .card {
        flex-direction: column;
    }

    .sobre .cards .card p:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid var(--cor-primaria);

    }

    .sobre .varias p {
        font-size: 2em;
    }

    .sobre .varias a {
        font-size: 1rem;
        bottom: 0;
        padding: none;
        width: 90%;
    }

    .sobre-amanda-interno {
        flex-direction: column;
    }

    .sobre-amanda img {
        width: 100%;
    }

    .sobre-amanda p {
        font-size: 1.5rem;
    }

    .feedback .apontando  {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .feedback p {
        font-size: 1.5rem;
    }

    .feedback .alunos img {
        width: 90%;
    }

    .feedback .apontando img {
        width: 150px;
    }

    .feedback .apontando a.btn {
        font-size: 0.7rem;
        padding: 7px;
    }

    .duvida img  {
        width: 100%;
    }

    .duvida .pergunta {
        flex-direction: column-reverse;
    }

    .duvida-mobile img {
        width: 100%;
    }

    .duvida-mobile {
        padding: 10px 4%;
        position: relative;
    }

    .duvida-mobile h2 {
        position: absolute;
        top: 0px;
        left: 20px;
        font-size: 2.5rem;
    }

    footer {
        flex-direction: column;
        height: 300px;
        text-align: center;
    }
}