h2 {    
    font-weight: 200;
    font-size: 3rem;
    padding: 10px 4%;
}

.geral .inicio {
    background-color: #CC3D03;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
}

.geral .inicio .container {
    height: 200px;
    padding: 40px 4%;
}

.geral .inicio .container p {
    text-align: center;
}
/* FIM INICIO */

/* TRANÇAS */

.geral .trancas h2 {
    margin-bottom: 30px;
}

.geral .trancas .container .cards-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 2rem;
    margin-bottom: 15px;
}
.geral .trancas .container .cards-imgs .card-img {
    border: 2px solid var(--cor-primaria-escura);
    border-radius: 10px;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition:all .5s;
}

.geral .trancas .container .cards-imgs .card-img:hover {
    box-shadow: 3px 3px 17px var(--cor-primaria-escura);
}

.geral .trancas .container .cards-imgs .item01{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.geral .trancas .container .cards-imgs .card-img p {
    font-size: 3rem;
    color: #fff;
    font-family: "Jaro", sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px black;
}
/* FIM TRANÇAS */

/* CURSOS */
.geral .cursos {
    background-color: var(--rosa);
}

.geral .cursos .cards img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px #232323;
}

.geral .cursos .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.geral .cursos .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.geral .cursos .cards .card p {
    width: 600px;
    height: 200px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
}
/* FIM CURSOS */

/* NOIVAS */

.geral .noivas .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.geral .noivas .container h3 {
    margin-bottom: 90px;
    font-weight: 300;
}

.geral .noivas .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.geral .noivas .flex img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px #232323;
}

.geral .noivas .container p {
    text-align: justify;
    padding: 40px 4%;
}
/* FIM NOIVA */

/* LOCAL */
.geral .local {    
    background-color: var(--rosa);
}

.geral .local .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.geral .local .localizacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
} 

.geral .local .localizacao p {
    padding: 40px 4%;
}

.geral .local .localizacao img:not(.mapa) {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px #232323;
}

.geral .local .localizacao img.mapa {
    width: 200px;
    position: absolute;
    bottom: 30px;
    right: 800px;

} 
/* FIM LOCALIZAÇÃO */

/* SOBRE */


.geral .sobre .oqfazemos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    pad: 10px 2%;
    margin-bottom: 90px;
}

.geral .sobre .oqfazemos h3 {
    font-weight: 400;
}

.geral .sobre .oqfazemos img {
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px #232323;
}
/* FIM SOBRE */

/* FOOTER */
footer {
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

footer .igual:not(.reservado)  {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .igual{
    width: 30%;
    height: 100px;   
}

footer .bi-instagram:hover {
    color: red;
}
footer .bi-facebook:hover {
    color: blue;
}
footer .bi-whatsapp:hover {
    color: green;
}

footer .reservado .copy{
    font-size: 10px; 
}

footer .social-media .bi {
    font-size: 30px;
}

footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

footer .dev {
    display: flex;
    justify-content: end;
}

footer .dev img {
    width: 20px;
}