
.nome {    
        font-family: "Dancing Script", cursive;
        font-size: 28px;
        color: var(--rosa-logo);
        filter: drop-shadow(1px 1px 1px black);
}

.nome2 {    
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    color: black;
    filter: drop-shadow(1px 1px 1px var(--amarelo));
}

.container {
    width: 100%;
    margin: auto;
    padding: 40px 40px 0px 40px;
    height: 100svh;
}

h1,h2,h3,h4 {
    text-transform: uppercase;
    text-align: center;
    color: var(--cor-de-titulo);
}

p {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


