header {
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--cor-primaria);
}

.hero {
    background: url('./src/img/foto1.svg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}



.btn {
    background: var(--cor-primaria-escura);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: var(--cor-primaria);
}


footer {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}